{% extends "partials/template.twig" %}

{% block content %}
    <div class="container">

        <div class="text-center mt-4">
            <h1>Create voice</h1>
        </div>

        <div class="mt-4 ml-auto mr-auto">
            <form action="/create-voice" method="get" class="">
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="description" name="description"></textarea>
                </div>
                <div class="form-group"><textarea type="text" class="form-control" placeholder="characteristics"
                                                  name="characteristics"></textarea></div>
                <div class="form-group"><input type="number" class="form-control" placeholder="price" name="price">
                </div>
                <div class="form-group"><input type="number" class="form-control" placeholder="review count"
                                               name="review_count"></div>
                <div class="form-group">
                    <input type="submit" class="btn-primary" placeholder="Create">
                </div>
            </form>
        </div>


    </div>
{% endblock %}
