{% extends "partials/template.twig" %}
{% block content %}
    <div class="container">
        <div class="mt-4 ">
            <audio src="{{ product['audio_path'] }}" controls></audio>
        </div>

        <div>
            <form action="/create-video" enctype="multipart/form-data" method="post">
                <input type="hidden" name="audio" value="{{ product['audio_path'] }}">
                <div class="form-group"><input type="file" name="images[]" multiple class="form-control"></div>
                <div class="form-group">
                    <input type="submit" class="btn-primary btn">
                </div>
            </form>
        </div>

    </div>
{% endblock %}
